* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: #00A8DB;
}

.spinner {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 100%;
  justify-items: center;
  align-items: center;
}

.spinner__figure {
}

.spinner__figure--rotate {
  animation: roll 3s linear .1s infinite;
}

@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}


